@charset "utf-8";
/* CSS Document */
#title{
	text-align: center;
	color: red;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#tab tr td{
	 width: 401px;
	 border: 1px solid  black;
	 margin-top: 20px;
	 border-radius: 10px;
}
#button{
	background: red;
	color: white;
	border: none;
	border-radius: 10px;
}
#reset{
	background: green;
	color:white;
	border: none;
	border-radius: 10px;
}
footer{
	margin-top: 5%;
	background-color: yellow;
}
footer div{
	text-align: center;
	color: black;
}
